<a href="https://colab.research.google.com/github/eunhobang/ICT-AI-education/blob/main/8_10_7_4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%A4%EC%A0%84%EB%AC%B8%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas

- 판다스 라이브러리 불러오기

In [ ]:
import pandas as pd

## 데이터 프레임

In [ ]:
# df 만들기 

df = pd.DataFrame(
    {"a": [4, 5, 6, 7],
     "b": [8, 9, 10, 11],
     "c": [12, 13, 14, 15]},
    #  index = [1, 2, 3, 4]
)

In [ ]:
# df 출력
df

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15

In [ ]:
df.iloc[0:3]

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14

In [ ]:
df.loc[1]

a     5
b     9
c    13
Name: 1, dtype: int64

In [ ]:
df.iloc[0]

a     4
b     8
c    12
Name: 0, dtype: int64

## 데이터 열 이름을 따로 지정하기

- 먼저 실습해 보기
- 데이터 열 이름을 a, b, c로 지정하기

In [ ]:
# 데이터 열 이름을 a, b, c로 지정하기 
df = pd.DataFrame(
    [[4, 8, 12],
    [5, 9, 13],
    [6, 10, 14],
    [7, 11, 15]],
    index = ['a', 'b', 'c', 'd'], columns = ['a', 'b', 'c']
)

In [ ]:
df

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
df.iloc[0:3]

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14

In [ ]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
df.describe()

              a          b          c
count  4.000000   4.000000   4.000000
mean   5.500000   9.500000  13.500000
std    1.290994   1.290994   1.290994
min    4.000000   8.000000  12.000000
25%    4.750000   8.750000  12.750000
50%    5.500000   9.500000  13.500000
75%    6.250000  10.250000  14.250000
max    7.000000  11.000000  15.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

- a 열 값을 기준으로 정렬하기

In [ ]:
# 특정 열 값을 기준으로 정렬
df.sort_values('a', ascending = False)
# ascending = False, 역순으로 정렬

   a   b   c
d  7  11  15
c  6  10  14
b  5   9  13
a  4   8  12

- 열 이름을 c에서 d로 변경하기

In [ ]:
# 열 이름 변경
df.rename(columns = {'c':'d'})
# df = df.rename(columns = {'c':'d'}) 라고 코딩했을 때 경우 살펴보기

   a   b   d
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
df

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
# 인덱스 값 초기화
df.reset_index()

  index  a   b   c
0     a  4   8  12
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
# 인덱스 순서로 정렬
df.sort_index()

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

- 특정 c열 제거하기

In [ ]:
# 특정 열 제거
df.drop(columns=['c'])

   a   b
a  4   8
b  5   9
c  6  10
d  7  11

## 특정 행, 특정 열 다루기

In [ ]:
# 맨 위의 행 출력 
df.head(2)

   a  b   c
a  4  8  12
b  5  9  13

In [ ]:

# 맨 아래의 행 출력 

df.tail(2)

   a   b   c
c  6  10  14
d  7  11  15

- df['a']>4
- df['a']==6

In [ ]:
# 특정 열의 값에 의해 행을 출력 
df[df['a']>4]

   a   b   c
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
df[['a']][df['a']>4]

   a
b  5
c  6
d  7

In [ ]:
# 특정 열에 특정 값이 있을 경우 행을 출력
df[df['a'] == 6]

   a   b   c
c  6  10  14

In [ ]:
# 특정 열에 특정 값이 아닌 경우 행을 출력
df[df['a'] != 5]

   a   b   c
a  4   8  12
c  6  10  14
d  7  11  15

In [ ]:
# 특정 열에 특정 숫자가 있는지 확인 후 행을 출력
df[df['a'].isin([4])]

   a  b   c
a  4  8  12

- 특정 비율로 데이터 샘플링 
- 특정 개수로 데이터 샘플링

In [ ]:
# 특정 비율로 데이터 샘플링 
# 실행할 때마다 정해진 비율만큼 랜덤하게 추출 후 행을 출력
df.sample(frac = 0.75)

# fraction

   a   b   c
a  4   8  12
b  5   9  13
d  7  11  15

In [ ]:
# 특정 개수로 데이터 샘플링 
# 실행할 때마다 정해진 개수만큼 랜덤하게 추출 후 행을 출력
df.sample(n=1)
#df.sample(n=3)

   a   b   c
c  6  10  14

In [ ]:

# 특정 열에서 큰 순서대로 불러오기 (행 출력)
df.nlargest(3, 'a')
# a열에서 큰 순서대로 3개를 불러오기

   a   b   c
d  7  11  15
c  6  10  14
b  5   9  13

In [ ]:
# 특정 열에서 작은 순서대로 불러오기 (행 출력)
df.nsmallest(3, 'a')

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14

- 열 추출하기
  * 인덱스 범위로 불러오기 
  * 특정 열을 지정하기 
  * 조건에 만족하는 열 가져오기 
  * 특정 문자가 포함되지 않은 열 가져오기

In [ ]:
df

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
# 인덱스 값 초기화
df= df.reset_index()

# 열 추출하기 
df.iloc[1:4]

  index  a   b   c
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
df

  index  a   b   c
0     a  4   8  12
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
df.loc[1:4]

  index  a   b   c
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
df.iloc[1:2]

  index  a  b   c
1     b  5  9  13

In [ ]:
df.iloc[2:]
# 앞 인덱스를 지정

  index  a   b   c
2     c  6  10  14
3     d  7  11  15

In [ ]:
df.iloc[:4]
# 뒤 인덱스를 지정

  index  a   b   c
0     a  4   8  12
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
df.iloc[:]

  index  a   b   c
0     a  4   8  12
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
df = pd.DataFrame(
    [[4, 8, 12],
    [5, 9, 13],
    [6, 10, 14],
    [7, 11, 15],
    [4, 8, 12],
    [5, 9, 13],
    [6, 10, 14],
    [7, 11, 15]],
    columns = ['a', 'b', 'c']
)

In [ ]:
df.iloc[:]

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15
4  4   8  12
5  5   9  13
6  6  10  14
7  7  11  15

In [ ]:
df.loc[:]

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15
4  4   8  12
5  5   9  13
6  6  10  14
7  7  11  15

- 특정 행과 열을 지정하여 가져오기 
- 인덱스로 특정 행과 열 가져오기 
- 특정 열에서 조건을 만족하는 행과 열 가져오기 
- 인덱스를 이용하여 특정 조건을 만족하는 값 불러오기

In [ ]:
df[['a']]
# a열 출력

   a
0  4
1  5
2  6
3  7
4  4
5  5
6  6
7  7

In [ ]:
df[['a','c']]
# a열과 c열

   a   c
0  4  12
1  5  13
2  6  14
3  7  15
4  4  12
5  5  13
6  6  14
7  7  15

In [ ]:
df.filter(regex = 'c')
# 열 이름에 c라는 문자가 포함된 열 출력

    c
0  12
1  13
2  14
3  15
4  12
5  13
6  14
7  15

In [ ]:
# 열 이름에 c라는 문자가 포함되지 않은 열 출력 
df.filter(regex = '^(?!c$).*')

   a   b
0  4   8
1  5   9
2  6  10
3  7  11
4  4   8
5  5   9
6  6  10
7  7  11

In [ ]:
# 행렬 추출하기 
df.loc[:, 'a']

0    4
1    5
2    6
3    7
4    4
5    5
6    6
7    7
Name: a, dtype: int64

In [ ]:
df.loc[:, 'a':'c']

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15
4  4   8  12
5  5   9  13
6  6  10  14
7  7  11  15

In [ ]:
df.iloc[0:3, [0, 2]]

   a   c
0  4  12
1  5  13
2  6  14

In [ ]:
df.iat[1, 2]

13

## 데이터 파악하기

In [ ]:
# df, MultiIndex  

df = pd.DataFrame(
    {"a": [4, 5, 6, 7, 7],
     "b": [8, 9, 10, 11, 11],
     "c": [12, 13, 14, 15, 15]},
     index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 1), ('e', 2), ('e', 3)], 
     names = ['n', 'v'])
)

# Q질문 :  names = ['n', 'v']) 얘로 뭘할 수 있음?

In [ ]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15
  3  7  11  15

In [ ]:
# df, MultiIndex  

df = pd.DataFrame(
    {"a": [0,0,0,0],
     "b": [0,0,0,0],
     "c": [0,0,0,0]},
     index = pd.MultiIndex.from_tuples([('꽃',1), ('꽃',1), ('나무',2), ('나무',2), ],
     names = ['n', 'v'])
)

In [ ]:
# 중복 데이터 다루기 
# 특정 열에 어떤 값이 몇 개 들어 있는지 알아보기 

df['a'].value_counts()

In [ ]:
# 데이터 프레임의 행이 몇 개인지 세어보기 
len(df)

In [ ]:
# 데이터 프레임의 행과 열이 몇 개인지 세어보기 
df.shape

In [ ]:
# 특정 a열에 유니크한 값이 뭐가 있는지 보기
df['a'].unique()

In [ ]:
# 특정 a열에 유니크한 값이 몇 개인지 세어보기 
df['a'].nunique()

In [ ]:
 # 데이터 프레임 형태 
 df.describe()

In [ ]:
# 중복된 값 제거
df = df.drop_duplicates()

In [ ]:
df

In [ ]:
# 각 열의 합 
df.sum()

In [ ]:
# 각 열의 값이 모두 몇 개인지 보기 
df.count()

In [ ]:
# 각 열의 중간 값
df.median()

In [ ]:
# 특정 b열의 평균값
df['b'].mean()

In [ ]:
# 각 열의 분위수
df.quantile([0.25, 0.75])

In [ ]:
# 각 열의 최소값
df.min()

In [ ]:
# 각 열의 최대값
df.max()

In [ ]:
# 각 열의 표준편차
df.std()

In [ ]:
#데이터프레임 각 값에 일괄 함수 적용하기 
import numpy as np

df.apply(np.sqrt) #sqrt:제곱근

In [ ]:
# df, MultiIndex, 결측치  
import numpy as np

df = pd.DataFrame(
    {"a": [4, 5, 6, np.nan],
     "b": [7, 8, np.nan, 10],
     "c": [10, np.nan, 11, 12]},
     index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 1), ('e', 2)], 
     names = ['n', 'v'])
)

In [ ]:
df

In [ ]:
# 결측치 다루기 
# null 값인지 확인하기 
df.isnull()

In [ ]:
pd.isnull(df) # 위랑 결과값 똑같음

In [ ]:
# null 값이 아닌지 확인하기 
pd.notnull(df)

In [ ]:
df.notnull()

In [ ]:
# null 값이 있는 행 삭제하기 
df_notnull = df.dropna()

In [ ]:
df_notnull

In [ ]:
# null 값을 측정 값으로 대체하기 

df_fillna = df.fillna(13)

In [ ]:
df_fillna

In [ ]:
# a열 null 
df_filna_mean = df.fillna(df['a'].mean())

In [ ]:
df_filna_mean

In [ ]:
df

In [ ]:
# null 값을 특정 계산 결과로 대체하기

In [ ]:
# df, 새로운 열 생성을 위해 데이터프레임 만들기   

df = pd.DataFrame(
    {"a": [4, 5, 6, 7],
     "b": [8, 9, 10, 11],
     "c": [12, 13, 14, 15]},
     index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 1), ('e', 2)], 
     names = ['n', 'v'])
)

In [ ]:
# 조건에 맞는(a+b+c) 새 열(sum) 만들기
df['sum'] = df['a']+ df['b']+ df['c']

In [ ]:
df

In [ ]:
# assing() 함수를 이용해서 조건(a*b*c)에 맞는 새 열(multiply) 만들기 
df = df.assign(multiply=lambda df: df['a']*df['b']*df['c'])

In [ ]:
df

In [ ]:
# 숫자형 데이터를 구간으로 나누기 
# a열을 두 개로 나누어 각각 새로운 레이블(600이하, 600이상)을 지정

df['qcut'] = pd.qcut(df['a'],2, labels = ['600이하','600이상'])

In [ ]:
df

In [ ]:
# 기준 값 이하와 이상을 모두 통일
# a열에서 5이하는 모두 5로, 6이상은 모두 6으로 변환
df['clip'] = df['a'].clip(lower=5, upper=6)

In [ ]:
df

In [ ]:
# 최대값
# axis = 0은 행과 행을 비교, axis = 1은 열과 열을 비교 

df.max(axis=0)

In [ ]:
df.max(axis=1)

In [ ]:
# 최소값

df.min(axis=0)

## 숙제

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {"A": {0: 'a', 1: 'b', 2: 'c'},
     "B": {0: 1, 1: 3, 2: 5},
     "C": {0: 2, 1: 4, 2: 6}}
)

In [ ]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [ ]:
# 행과 열 변환
df.T

In [ ]:
# 모든 열을 행으로 변환
pd.melt(df)

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

In [ ]:
df.columns

In [ ]:
# 하나의 열만 행으로 이동
# A열만 그대로, B열은 행으로
pd.melt(df, id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [ ]:
# 여러 개의 열을 행으로 이동
# A열만 그대로, B열, C열은 행으로
df_melt = pd.melt(df, id_vars=['A'], value_vars=['B','C'])
df_melt

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [ ]:
# 특정 열의 값을 기준으로 새로운 열 만들기 
# A열을 새로운 인덱스로 만들고, B열과 C열은 이에 따라 정리

df_pivot = df_melt.pivot(index='A', columns='variable', values='value')
df_pivot

variable  B  C
A
a         1  2
b         3  4
c         5  6

In [ ]:
# 원래 데이터 형태로 되돌리기 
df_origin = df_pivot.reset_index()
df_origin.columns.name = None
df_origin

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

## 시리즈 연결하기

In [ ]:
s1 = pd.Series(['a','b'])
s1

0    a
1    b
dtype: object

In [ ]:
s2 = pd.Series(['c','d'])
s2

0    c
1    d
dtype: object

- 시리즈 데이터 합치기

In [ ]:
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

In [ ]:
# 인덱스 순차적으로 변경 ignore_index=True
pd.concat([s1, s2], ignore_index=True)

0    a
1    b
2    c
3    d
dtype: object

- 계층적 인덱스를 추가하고 열 이름 지정하기

In [ ]:
pd.concat([s1, s2], 
          keys=['s1','s2'],
          names = ['Series name','Rpw ID'])

Series name  Rpw ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

## 데이터 프레임 연결하기

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame([['a',1],
                    ['b',2]],
                    columns=['letter','number'])
df1

  letter  number
0      a       1
1      b       2

In [ ]:
df2 = pd.DataFrame([['c',3],
                    ['d',4]],
                    columns=['letter','number'])
df2

  letter  number
0      c       3
1      d       4

- 데이터프레임 합치기

In [ ]:
pd.concat([df1,df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

- 열의 수가 다른 두 데이터프레임 병합

In [ ]:
df3 = pd.DataFrame([['c', 3, 'cat'],
                    ['d', 4, 'dog']],
                   columns=['letter', 'number', 'animal'])

In [ ]:
df4 = pd.DataFrame([['bird', 'polly'],
                    ['monkey', 'george']],
                   columns=['animal', 'name'])

In [ ]:
pd.concat([df1,df3], join='inner')

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [ ]:
pd.concat([df1,df4], axis=1)

  letter  number  animal    name
0      a       1    bird   polly
1      b       2  monkey  george

# 외부파일 불러와 pandas 처리

In [ ]:
import pandas as pd

# 데이터 준비 
df = pd.read_csv("train.csv")

FileNotFoundError: ignored

In [ ]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [ ]:
# 그룹 지정 및 그룹별 데이터 수 표시 
# 팔린 연도를 중심으로 그룹을 만든 후 그룹별 수 표시

df.groupby(by = 'YrSold').size()

KeyError: ignored

In [ ]:
# 그룹 지정 후 원하는 컬럼 표시 
# 팔린 연도를 중심으로 그룹을 만든 후 각 그룹별 주차장의 넓이를 표시

df.groupby(by = 'YrSold')['LotArea'].mean()

In [ ]:
# 밀집도 기준으로 순위 부여
# 각 집 값은 밀집도를 기준으로 몇 번째인가?

df['SalePrice'].rank(method = 'dense')

In [ ]:
# 집 값으로 순위를 부여, 기준은 최소값

df['SalePrice'].rank(method = 'min')

In [ ]:
# 집 값의 순위를 비율로 표시 (0 = 가장 싼 집, 1 = 비싼 집)

df['SalePrice'].rank(pct = True)

In [ ]:
# 집 값 순위가 같을 때 순서가 빠른 사람을 상위로 처리 

df['SalePrice'].rank(method = 'first')