<a href="https://colab.research.google.com/github/eunhobang/ICT-AI-education/blob/main/8_10_7_4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%8B%A4%EC%A0%84%EB%AC%B8%EC%A0%9C_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas

- 판다스 라이브러리 불러오기

In [ ]:
import pandas as pd

## 데이터 프레임

In [ ]:
# df 만들기 

df = pd.DataFrame(
    {"a": [4, 5, 6, 7],
     "b": [8, 9, 10, 11],
     "c": [12, 13, 14, 15]},
    #  index = [1, 2, 3, 4]
)

In [ ]:
# df 출력
df

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15

In [ ]:
df.iloc[0:3]

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14

In [ ]:
df.loc[1]

a     4
b     8
c    12
Name: 1, dtype: int64

In [ ]:
df.iloc[0]

a     4
b     8
c    12
Name: 1, dtype: int64

## 데이터 열 이름을 따로 지정하기

- 먼저 실습해 보기
- 데이터 열 이름을 a, b, c로 지정하기

In [ ]:
# 데이터 열 이름을 a, b, c로 지정하기 
df = pd.DataFrame(
    [[4, 8, 12],
    [5, 9, 13],
    [6, 10, 14],
    [7, 11, 15]],
    index = ['a', 'b', 'c', 'd'], columns = ['a', 'b', 'c']
)

In [ ]:
df

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
df.iloc[0:3]

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14

In [ ]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
df.describe()

              a          b          c
count  4.000000   4.000000   4.000000
mean   5.500000   9.500000  13.500000
std    1.290994   1.290994   1.290994
min    4.000000   8.000000  12.000000
25%    4.750000   8.750000  12.750000
50%    5.500000   9.500000  13.500000
75%    6.250000  10.250000  14.250000
max    7.000000  11.000000  15.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       4 non-null      int64
 1   b       4 non-null      int64
 2   c       4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

- a 열 값을 기준으로 정렬하기

In [ ]:
# 특정 열 값을 기준으로 정렬
df.sort_values('a', ascending = False)
# ascending = False, 역순으로 정렬

   a   b   c
d  7  11  15
c  6  10  14
b  5   9  13
a  4   8  12

- 열 이름을 c에서 d로 변경하기

In [ ]:
# 열 이름 변경
df.rename(columns = {'c':'d'})
# df = df.rename(columns = {'c':'d'}) 라고 코딩했을 때 경우 살펴보기

   a   b   d
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
df

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
# 인덱스 값 초기화
df.reset_index()

  index  a   b   c
0     a  4   8  12
1     b  5   9  13
2     c  6  10  14
3     d  7  11  15

In [ ]:
# 인덱스 순서로 정렬
df.sort_index()

   a   b   c
a  4   8  12
b  5   9  13
c  6  10  14
d  7  11  15

- 특정 c열 제거하기

In [ ]:
# 특정 열 제거
df.drop(columns=['c'])

   a   b
a  4   8
b  5   9
c  6  10
d  7  11

## 특정 행, 특정 열 다루기

In [ ]:
# 맨 위의 행 출력 
df.head(2)

   a  b   c
a  4  8  12
b  5  9  13

In [ ]:

# 맨 아래의 행 출력 

df.tail(2)

   a   b   c
c  6  10  14
d  7  11  15

- df['a']>4
- df['a']==6

In [ ]:
# 특정 열의 값에 의해 행을 출력 
df[df['a']>4]

   a   b   c
b  5   9  13
c  6  10  14
d  7  11  15

In [ ]:
df[['a']][df['a']>4]

   a
b  5
c  6
d  7

In [ ]:
# 특정 열에 특정 값이 있을 경우 행을 출력
df[df['a'] == 6]

   a   b   c
3  6  10  14

In [ ]:
# 특정 열에 특정 값이 아닌 경우 행을 출력
df[df['a'] != 5]

   a   b   c
1  4   8  12
3  6  10  14
4  7  11  15

In [ ]:
# 특정 열에 특정 숫자가 있는지 확인 후 행을 출력
df[df['a'].isin([4])]

   a  b   c
1  4  8  12

- 특정 비율로 데이터 샘플링 
- 특정 개수로 데이터 샘플링

In [ ]:
# 특정 비율로 데이터 샘플링 
# 실행할 때마다 정해진 비율만큼 랜덤하게 추출 후 행을 출력
df.sample(frac = 0.75)

# fraction

   a   b   c
4  7  11  15
2  5   9  13
3  6  10  14

In [ ]:
# 특정 개수로 데이터 샘플링 
# 실행할 때마다 정해진 개수만큼 랜덤하게 추출 후 행을 출력
df.sample(n=1)
#df.sample(n=3)

   a   b   c
3  6  10  14

In [ ]:

# 특정 열에서 큰 순서대로 불러오기 (행 출력)
df.nlargest(3, 'a')
# a열에서 큰 순서대로 3개를 불러오기

   a   b   c
4  7  11  15
3  6  10  14
2  5   9  13

In [ ]:
# 특정 열에서 작은 순서대로 불러오기 (행 출력)
df.nsmallest(3, 'a')

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14

- 열 추출하기
  * 인덱스 범위로 불러오기 
  * 특정 열을 지정하기 
  * 조건에 만족하는 열 가져오기 
  * 특정 문자가 포함되지 않은 열 가져오기

In [ ]:
df

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [ ]:
# 인덱스 값 초기화
df= df.reset_index()

# 열 추출하기 
df.iloc[1:4]

   level_0  index  a   b   c
1        1      2  5   9  13
2        2      3  6  10  14
3        3      4  7  11  15

In [ ]:
df

   level_0  index  a   b   c
0        0      1  4   8  12
1        1      2  5   9  13
2        2      3  6  10  14
3        3      4  7  11  15

In [ ]:
df.loc[1:4]

   level_0  index  a   b   c
1        1      2  5   9  13
2        2      3  6  10  14
3        3      4  7  11  15

In [ ]:
df.iloc[1:2]

   index  a  b   c
1      2  5  9  13

In [ ]:
df.iloc[2:]
# 앞 인덱스를 지정

   level_0  index  a   b   c
2        2      3  6  10  14
3        3      4  7  11  15

In [ ]:
df.iloc[:4]
# 뒤 인덱스를 지정

   level_0  index  a   b   c
0        0      1  4   8  12
1        1      2  5   9  13
2        2      3  6  10  14
3        3      4  7  11  15

In [ ]:
df.iloc[:]

   level_0  index  a   b   c
0        0      1  4   8  12
1        1      2  5   9  13
2        2      3  6  10  14
3        3      4  7  11  15

In [ ]:
df = pd.DataFrame(
    [[4, 8, 12],
    [5, 9, 13],
    [6, 10, 14],
    [7, 11, 15],
    [4, 8, 12],
    [5, 9, 13],
    [6, 10, 14],
    [7, 11, 15]],
    columns = ['a', 'b', 'c']
)

In [ ]:
df.iloc[:]

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15
4  4   8  12
5  5   9  13
6  6  10  14
7  7  11  15

In [ ]:
df.loc[:]

   a   b   c
0  4   8  12
1  5   9  13
2  6  10  14
3  7  11  15
4  4   8  12
5  5   9  13
6  6  10  14
7  7  11  15

- 특정 행과 열을 지정하여 가져오기 
- 인덱스로 특정 행과 열 가져오기 
- 특정 열에서 조건을 만족하는 행과 열 가져오기 
- 인덱스를 이용하여 특정 조건을 만족하는 값 불러오기

In [ ]:
df[['a']]
# a열 출력

   a
0  4
1  5
2  6
3  7
4  4
5  5
6  6
7  7

In [ ]:
df[['a','c']]
# a열과 c열

   a   c
0  4  12
1  5  13
2  6  14
3  7  15
4  4  12
5  5  13
6  6  14
7  7  15

In [ ]:
df.filter(regex = 'c')
# 열 이름에 c라는 문자가 포함된 열 출력

    c
0  12
1  13
2  14
3  15
4  12
5  13
6  14
7  15

In [ ]:
# 열 이름에 c라는 문자가 포함되지 않은 열 출력 
df.filter(regex = '^(?!c$).*')

   a   b
0  4   8
1  5   9
2  6  10
3  7  11
4  4   8
5  5   9
6  6  10
7  7  11

In [ ]:
# 행렬 추출하기 
df.loc[:, 'a']

1    4
2    5
3    6
4    7
Name: a, dtype: int64

In [ ]:
df.loc[:, 'a':'c']

   a   b   c
1  4   8  12
2  5   9  13
3  6  10  14
4  7  11  15

In [ ]:
df.iloc[0:3, [0, 2]]

   a   c
0  4  12
1  5  13
2  6  14

In [ ]:
df.iat[1, 2]

13

## 데이터 파악하기

In [ ]:
# df, MultiIndex  

df = pd.DataFrame(
    {"a": [4, 5, 6, 7, 7],
     "b": [8, 9, 10, 11, 11],
     "c": [12, 13, 14, 15, 15]},
     index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 1), ('e', 2), ('e', 3)], 
     names = ['n', 'v'])
)

# Q질문 :  names = ['n', 'v']) 얘로 뭘할 수 있음?

In [ ]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15
  3  7  11  15

In [ ]:
# df, MultiIndex  

df = pd.DataFrame(
    {"a": [0,0,0,0],
     "b": [0,0,0,0],
     "c": [0,0,0,0]},
     index = pd.MultiIndex.from_tuples([('꽃',1), ('꽃',1), ('나무',2), ('나무',2), ],
     names = ['n', 'v'])
)

In [ ]:
df.names()

AttributeError: ignored

In [ ]:
# 중복 데이터 다루기 
# 특정 열에 어떤 값이 몇 개 들어 있는지 알아보기 

df['a'].value_counts()

7    2
4    1
5    1
6    1
Name: a, dtype: int64

In [ ]:
# 데이터 프레임의 행이 몇 개인지 세어보기 
len(df)

5

In [ ]:
# 데이터 프레임의 행과 열이 몇 개인지 세어보기 
df.shape

(5, 3)

In [ ]:
# 특정 a열에 유니크한 값이 뭐가 있는지 보기
df['a'].unique()

array([4, 5, 6, 7])

In [ ]:
# 특정 a열에 유니크한 값이 몇 개인지 세어보기 
df['a'].nunique()

4

In [ ]:
 # 데이터 프레임 형태 
 df.describe()

             a         b         c
count  5.00000   5.00000   5.00000
mean   5.80000   9.80000  13.80000
std    1.30384   1.30384   1.30384
min    4.00000   8.00000  12.00000
25%    5.00000   9.00000  13.00000
50%    6.00000  10.00000  14.00000
75%    7.00000  11.00000  15.00000
max    7.00000  11.00000  15.00000

In [ ]:
# 중복된 값 제거
df = df.drop_duplicates()

In [ ]:
df

     a   b   c
n v
d 1  4   8  12
  2  5   9  13
e 1  6  10  14
  2  7  11  15

In [ ]:
# 각 열의 합 
df.sum()

a    22
b    38
c    54
dtype: int64

In [ ]:
# 각 열의 값이 모두 몇 개인지 보기 
df.count()

a    4
b    4
c    4
dtype: int64

In [ ]:
# 각 열의 중간 값
df.median()

a     5.5
b     9.5
c    13.5
dtype: float64

In [ ]:
# 특정 b열의 평균값
df['b'].mean()

9.5

In [ ]:
# 각 열의 분위수
df.quantile([0.25, 0.75])

         a      b      c
0.25  4.75   8.75  12.75
0.75  6.25  10.25  14.25

In [ ]:
# 각 열의 최소값
df.min()

a     4
b     8
c    12
dtype: int64

In [ ]:
# 각 열의 최대값
df.max()

a     7
b    11
c    15
dtype: int64

In [ ]:
# 각 열의 표준편차
df.std()

a    1.290994
b    1.290994
c    1.290994
dtype: float64

In [ ]:
#데이터프레임 각 값에 일괄 함수 적용하기 
import numpy as np

df.apply(np.sqrt) #sqrt:제곱근

            a         b         c
n v
d 1  2.000000  2.828427  3.464102
  2  2.236068  3.000000  3.605551
e 1  2.449490  3.162278  3.741657
  2  2.645751  3.316625  3.872983

In [ ]:
# df, MultiIndex, 결측치  
import numpy as np

df = pd.DataFrame(
    {"a": [4, 5, 6, np.nan],
     "b": [7, 8, np.nan, 10],
     "c": [10, np.nan, 11, 12]},
     index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 1), ('e', 2)], 
     names = ['n', 'v'])
)

In [ ]:
df

       a     b     c
n v
d 1  4.0   7.0  10.0
  2  5.0   8.0   NaN
e 1  6.0   NaN  11.0
  2  NaN  10.0  12.0

In [ ]:
# 결측치 다루기 
# null 값인지 확인하기 
df.isnull()

         a      b      c
n v
d 1  False  False  False
  2  False  False   True
e 1  False   True  False
  2   True  False  False

In [ ]:
pd.isnull(df) # 위랑 결과값 똑같음

         a      b      c
n v
d 1  False  False  False
  2  False  False   True
e 1  False   True  False
  2   True  False  False

In [ ]:
# null 값이 아닌지 확인하기 
pd.notnull(df)

         a      b      c
n v
d 1   True   True   True
  2   True   True  False
e 1   True  False   True
  2  False   True   True

In [ ]:
df.notnull()

         a      b      c
n v
d 1   True   True   True
  2   True   True  False
e 1   True  False   True
  2  False   True   True

In [ ]:
# null 값이 있는 행 삭제하기 
df_notnull = df.dropna()

In [ ]:
df_notnull

       a    b     c
n v
d 1  4.0  7.0  10.0

In [ ]:
# null 값을 측정 값으로 대체하기 

df_fillna = df.fillna(13)

In [ ]:
df_fillna

        a     b     c
n v
d 1   4.0   7.0  10.0
  2   5.0   8.0  13.0
e 1   6.0  13.0  11.0
  2  13.0  10.0  12.0

In [ ]:
# a열 null 
df_filna_mean = df.fillna(df['a'].mean())

In [ ]:
df_filna_mean

       a     b     c
n v
d 1  4.0   7.0  10.0
  2  5.0   8.0   5.0
e 1  6.0   5.0  11.0
  2  5.0  10.0  12.0

In [ ]:
df

       a     b     c
n v
d 1  4.0   7.0  10.0
  2  5.0   8.0   NaN
e 1  6.0   NaN  11.0
  2  NaN  10.0  12.0

In [ ]:
# null 값을 특정 계산 결과로 대체하기

In [ ]:
# df, 새로운 열 생성을 위해 데이터프레임 만들기   

df = pd.DataFrame(
    {"a": [4, 5, 6, 7],
     "b": [8, 9, 10, 11],
     "c": [12, 13, 14, 15]},
     index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 1), ('e', 2)], 
     names = ['n', 'v'])
)

In [ ]:
# 조건에 맞는(a+b+c) 새 열(sum) 만들기
df['sum'] = df['a']+ df['b']+ df['c']

In [ ]:
df

     a   b   c  sum
n v
d 1  4   8  12   24
  2  5   9  13   27
e 1  6  10  14   30
  2  7  11  15   33

In [ ]:
# assing() 함수를 이용해서 조건(a*b*c)에 맞는 새 열(multiply) 만들기 
df = df.assign(multiply=lambda df: df['a']*df['b']*df['c'])

In [ ]:
df

     a   b   c  sum    gg  multiply
n v
d 1  4   8  12   24   384       384
  2  5   9  13   27   585       585
e 1  6  10  14   30   840       840
  2  7  11  15   33  1155      1155

In [ ]:
# 숫자형 데이터를 구간으로 나누기 
# a열을 두 개로 나누어 각각 새로운 레이블(600이하, 600이상)을 지정

df['qcut'] = pd.qcut(df['a'],2, labels = ['600이하','600이상'])

In [ ]:
df

     a   b   c  sum  multiply   qcut
n v
d 1  4   8  12   24       384  600이하
  2  5   9  13   27       585  600이하
e 1  6  10  14   30       840  600이상
  2  7  11  15   33      1155  600이상

In [ ]:
# 기준 값 이하와 이상을 모두 통일
# a열에서 5이하는 모두 5로, 6이상은 모두 6으로 변환
df['clip'] = df['a'].clip(lower=5, upper=6)

In [ ]:
df

     a   b   c  sum  multiply   qcut  clip
n v
d 1  4   8  12   24       384  600이하     5
  2  5   9  13   27       585  600이하     5
e 1  6  10  14   30       840  600이상     6
  2  7  11  15   33      1155  600이상     6

In [ ]:
# 최대값
# axis = 0은 행과 행을 비교, axis = 1은 열과 열을 비교 

df.max(axis=0)

a               7
b              11
c              15
sum            33
multiply     1155
qcut        600이상
clip            6
dtype: object

In [ ]:
df.max(axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

n  v
d  1     384
   2     585
e  1     840
   2    1155
dtype: int64

In [ ]:
# 최소값

df.min(axis=0)

a               4
b               8
c              12
sum            24
multiply      384
qcut        600이하
clip            5
dtype: object

## 숙제

In [ ]:
df = pd.DataFrame(
    {"A": {0: 'a', 1: 'b', 2: 'c'},
     "B": {0: 1, 1: 3, 2: 5},
     "C": {0: 2, 1: 4, 2: 6}}
)

In [ ]:
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [ ]:
# 행과 열 변환
df.T

   0  1  2
A  a  b  c
B  1  3  5
C  2  4  6

In [ ]:
# 모든 열을 행으로 변환
# Q Q질문
pd.melt(df)

  variable value
0        A     a
1        A     b
2        A     c
3        B     1
4        B     3
5        B     5
6        C     2
7        C     4
8        C     6

In [ ]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
# 하나의 열만 행으로 이동
# Q질문 모르겠음

In [ ]:
# 여러 개의 열을 행으로 이동
# Q질문 모르겠음

In [ ]:
# 특정 열의 값을 기준으로 새로운 열 만들기 
df['C2'] = df['C']*2

In [ ]:
df

   A  B  C  C2
0  a  1  2   4
1  b  3  4   8
2  c  5  6  12

In [ ]:
# 원래 데이터 형태로 되돌리기 
# Q 모르겠음

AttributeError: ignored

## 시리즈 연결하기

## 데이터 프레임 연결하기

# 외부파일 불러와 pandas 처리

In [ ]:
import pandas as pd

# 데이터 준비 
df = pd.read_csv("train.csv")

In [ ]:
df

In [ ]:
# 그룹 지정 및 그룹별 데이터 수 표시 
# 팔린 연도를 중심으로 그룹을 만든 후 그룹별 수 표시

df.groupby(by = 'YrSold').size()

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
dtype: int64

In [ ]:
# 그룹 지정 후 원하는 컬럼 표시 
# 팔린 연도를 중심으로 그룹을 만든 후 각 그룹별 주차장의 넓이를 표시

df.groupby(by = 'YrSold')['LotArea'].mean()

YrSold
2006    10489.458599
2007    10863.686930
2008    10587.687500
2009    10294.248521
2010    10220.645714
Name: LotArea, dtype: float64

In [ ]:
# 밀집도 기준으로 순위 부여
# 각 집 값은 밀집도를 기준으로 몇 번째인가?

df['SalePrice'].rank(method = 'dense')

0       413.0
1       340.0
2       443.0
3       195.0
4       495.0
        ...
1455    315.0
1456    416.0
1457    528.0
1458    200.0
1459    222.0
Name: SalePrice, Length: 1460, dtype: float64

In [ ]:
# 집 값으로 순위를 부여, 기준은 최소값

df['SalePrice'].rank(method = 'min')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     828.0
1456    1076.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64

In [ ]:
# 집 값의 순위를 비율로 표시 (0 = 가장 싼 집, 1 = 비싼 집)

df['SalePrice'].rank(pct = True)

0       0.734247
1       0.622603
2       0.777740
3       0.342123
4       0.848973
          ...
1455    0.569863
1456    0.738356
1457    0.880137
1458    0.358904
1459    0.404795
Name: SalePrice, Length: 1460, dtype: float64

In [ ]:
# 집 값 순위가 같을 때 순서가 빠른 사람을 상위로 처리 

df['SalePrice'].rank(method = 'first')

0       1072.0
1        909.0
2       1135.0
3        490.0
4       1236.0
         ...
1455     836.0
1456    1080.0
1457    1285.0
1458     524.0
1459     591.0
Name: SalePrice, Length: 1460, dtype: float64